  <!-- Bottom Row -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-light">
      <div class="container-fluid">
        <p style="position: fixed;bottom: 0; width: 100%" class="text-center">&copy;Copyright <%= new Date().getFullYear();%>. Oduneye Adekunle Comp229 </p>
      </div>
    </nav>
  </footer>