<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  
  <!-- Main COntent -->
  <main>
    <div class="wrapper">
        <div class="container">
            <div class="col col-md-12">
                <h2>Lets work together today</h2>
                <p>Together we can create a wonderful solution to the issues the world is facing</p>
            </div>
        </div>
    
         <!-- Contact -->
         <section class="ms-section">
            <div class="ms-section__block">
                <div id="contact" class="row">
                    <div class="c-info col-md-3">
                        <h6>Office</h6>
                        <p>25 Toronto St. Toronto, Ontario M4k2K1</p>
                    </div>
                    <div class="c-info col-md-3">
                        <h6>Telephone</h6>
                        <p>+1 437 200 2002</p>
                    </div>
                    <div class="c-info col-md-3">
                        <h6>email</h6>
                        <p>a.oduneye2@my.centennialcollege.ca</p>
                    </div>
                
                    <div class="contact-form col-md-8">
                        <h6>Get in touch</h6>
                        <br>
                        <form id="validForm">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" name="name" class="form-control" id="cl" placeholder="Your name" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="email" class="form-control" placeholder="Email address" autocomplete="off">
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea name="message" class="form-control" id="message" placeholder="Your message"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="ms-btn__square">
                                      <a href="/home"><input type="submit" value="Send"></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    
    </section>
<!-- /Contact -->
  </main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>