<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  
  <!-- Main COntent -->
  <main>
    <div class="wrapper">
        <div class="container">
            <div class="col col-md-12">
                <h2>Projects</h2>
                <main id="main1">
                    <blockquote>I have been part of a few project in my career. Here are the top 3 projects I have worked on</blockquote>
                    <br>
                    <table id="Project">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Details</th>
                                <th></th>
                            </tr>            
                        </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Synapse Project</p>
                            </td>
                            <td>
                                <p>I was maojorly involved with the testing of EPIC application used for processing patient information</p>
                            </td>
                            <td>
                                <a href="https://www.uhn.ca/corporate/AboutUHN/Digital"><img src="Assets/images/synapse.png" width="100px" height="50px" alt="Synapse Project"></a>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Go-Live</p>
                            </td>
                            <td>
                                <p>I was maojorly involved with the testing of EPIC application used for processing patient information</p>
                                <td>
                                    <a href="https://www.lakeridgehealth.on.ca/en/aboutus/epic-cis.asp"><img src="Assets/images/Lakeridge.jfif" width="100px" height="80px" alt="Synapse Project"></a>
                                    <br>
                                </td>
                            </td>
                        </tr>
                                <tr>
                                    <td>
                                        <p><em>Portfolio</em></p>
                                    </td>
                                    <td>
                                        <p>I designed a portfolio website to show case my app development skilss</p>
                                    </td>
                                    <td>
                                        <a href="https://ade-comp229-assignment.herokuapp.com/home"><img src="Assets/images/website.jpg" width="100px" height="80px" alt="Website"></a>
                                        <br>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
    </div>
    
  </main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>