<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  
  <!-- Main COntent -->
  <main>
    <div class="container">
        <div class="col col-md-12">
            <h2>Services</h2>
            <p>I have develop some skills over the years through which I nnovate. These are the following services I could provide you</p>
            <Ul>
              <li>Website Development</li>
              <li>Application Development</li>
              <li>Application Deployment</li>
              <li>Software testing</li>
              <li>Software Project Management</li>
            </Ul>
        </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
  
<%- include partials/footer.ejs %>