/* Custom css Oduneye Adekunle 300564856 2022-10-09 */

body { 
    background-color: whitesmoke;
    /*font-size: 26px*/;    


}

.wrapper{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;

}